<!DOCTYPE html>
<html lang="en">
 
<head>
    <head>
        <title>Woodcutter - CVRP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css?v=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	body {
	}
	
	h2 {
	    color: navy;
	    text-align:center;
	}
	
	.center1 {
		text-align: center;
	}
	
	.srodek {
		display: block;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	
	
	/* Split the screen in half */
	.split {
		float:left;
		width:50%;
		overflow:hidden;
	}
	</style>
</head>
 
<body>
	<div class="container container_my">
		<h2>CVRP - project</h2>
		<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}" class="center1">
			<input type="text" name="url" placeholder="Dataset URL" class="split" style="width: 45%; margin-right: 5%; margin-top: 10px; margin-bottom:10px;">
			<input type=file name=sendFile class="split" style="border-style: solid; padding:10px; width: 45%; margin-left: 5%">
			<br><br><br>
            Local Search Options:
            <select name=local_search_options method="GET" action="/">
                {% for lso in local_search_options %}
                    <option value= "{{ lso }}" SELECTED>{{ lso }}</option>"
                {% endfor %}
                <option selected value="AUTOMATIC"> -- select an option -- </option>
            </select>
            First Solution Strategies:
            <select name=first_solution_strategies method="GET" action="/">
                {% for ffs in first_solution_strategies %}
                    <option value= "{{ ffs }}" SELECTED>{{ ffs }}</option>"
                {% endfor %}
                <option selected value="AUTOMATIC"> -- select an option -- </option>
            </select>
            Time:
            <select name=times method="GET" action="/">
                {% for time in times %}
                    <option value= "{{ time.value }}" SELECTED>{{ time.name }}</option>"
                {% endfor %}
                <option selected value="30"> -- select an option -- </option>
            </select>

            <br><br>
			<input type="submit" class="btn btn-primary">
		</form>
		{% if dataSend==True %}
			<img style="max-height:500px;" src="{{url_for('static',filename='img/plot_img_'+filename+'_'+ffs+'_'+lso+'_'+time+'.png')}}" class="srodek">
			<div class="split">
				<h3>Solution info:</h3>
                <p>Local Search Options: {{ lso }}</p>
                <p>First Solution Strategy: {{  ffs }}</p>
                <p>Time constraint: {{ time }}</p>
				<p>Number of customers: {{ customers }}</p>
				<p>Number of vehicles: {{ vehicles }}</p>
				<p>Capacity: {{ capacity }}</p>
				<p>Distance: {{ opt_distance }}</p>
                <p>Optimal distance: {{ optimal_value }}</p>
                <p>Percentage change: {{ change_percent }}</p>
			</div>
			<div class="split">
			<h3>Routes:</h3>
			{% for element in file_string %}
				<p>{{ element }}</p>
			{% endfor %}
			</div>
			<!--<br> ODCZYTANY TEKST: {{ result }}-->
		{% endif %}
	</div>
</body>
 
</html>